<IfModule mod_rewrite.c>
    RewriteEngine on
    RewriteRule    ^$    recipes/    [L]
    RewriteRule    (.*) recipes/$1    [L]
    RewriteRule    ^$    ingredients/    [L]git
    RewriteRule    (.*) ingredients/$1    [L]
 </IfModule>